In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlalchemy

In [2]:
%load_ext sql
from sqlalchemy import engine

In [3]:
engine = sqlalchemy.create_engine('postgresql://postgres:polpol@localhost:5432/book_management_system')
connection = engine.connect()

In [4]:
df = pd.read_csv('/Users/damacm172_/Downloads/accidentriskcsv.csv')

df.to_sql('accident_risk', engine, if_exists='replace', index=False, chunksize=478741)

741

In [5]:
%sql postgresql://postgres:polpol@localhost:5432/book_management_system

In [6]:
%%sql
SELECT * FROM accident_risk limit 2;

 * postgresql://postgres:***@localhost:5432/book_management_system
2 rows affected.

[(1, 34, 2, 1, '19/12/12', 7, '13:20', 344, 'E10000032', 4, 395, 'Single carriageway', 30, -1, 0, 'None within 50 metres', 'No physical crossing within 50 meters', 'Daylight: Street light present', 'Fine without high winds', 'Dry', 'Ol or diesel', None, 1, 'Yes', 'England', 'OX3 9UP', 'United Kingdom'),
 (2, 5, 2, 1, '02/11/12', 4, '7:53', 102, 'E09000026', 3, 13, 'One way street', 30, -1, 0, 'None within 50 metres', 'No physical crossing within 50 meters', 'Daylight: Street light present', 'Raining without high winds', 'Dry', None, None, 1, 'No', 'England', 'S35 4EZ', 'United Kingdom')]

What is the overall proportion of accidents where a police officer attended the scene versus those where they did not?

In [34]:
%%sql

SELECT
    COUNT(*) AS total_accidents,
    COUNT(CASE WHEN "Did_Police_Officer_Attend_Scene_of_Accident" = 'Yes' THEN 1 END) AS attended_accidents,
    COUNT(CASE WHEN "Did_Police_Officer_Attend_Scene_of_Accident" = 'No' THEN 1 END) AS not_attended_accidents,
    (COUNT(CASE WHEN "Did_Police_Officer_Attend_Scene_of_Accident" = 'Yes' THEN 1 END) / CAST(COUNT(*) AS numeric))::numeric(5, 2) AS attended_proportion,
    (COUNT(CASE WHEN "Did_Police_Officer_Attend_Scene_of_Accident" = 'No' THEN 1 END) / CAST(COUNT(*) AS numeric))::numeric(5, 2) AS not_attended_proportion
FROM
    accident_risk;

 * postgresql://postgres:***@localhost:5432/book_management_system
1 rows affected.

[(478741, 391064, 87677, Decimal('0.82'), Decimal('0.18'))]

Which  specific weather conditions that are more strongly associated with accidents compared to other

In [17]:
%%sql

SELECT
    "Weather_Conditions",
    COUNT(*) AS accident_count
FROM
    accident_risk
GROUP BY
    "Weather_Conditions"
ORDER BY
    COUNT(*) DESC;

 * postgresql://postgres:***@localhost:5432/book_management_system
9 rows affected.

[('Fine without high winds', 379429),
 ('Raining without high winds', 53708),
 ('Raining with high winds', 20326),
 ('Fine with high winds', 14714),
 ('Snowing without high winds', 4608),
 ('Other', 4531),
 ('Fog or mist', 1058),
 ('Snowing with high winds', 249),
 ('Unknown', 118)]

which state has most number of vehicle?

In [15]:
%%sql
SELECT
    "state",
    SUM("Number_of_Vehicles") AS total_vehicles
FROM
    accident_risk
GROUP BY
    "state"
ORDER BY
    total_vehicles DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/book_management_system
1 rows affected.

[('England', Decimal('714229'))]

Which state  have a higher police presence at accident scenes compared to others?

In [22]:
%%sql

SELECT
    "state",
    COUNT(*) AS total_accidents,
    COUNT(CASE WHEN "Did_Police_Officer_Attend_Scene_of_Accident" = 'Yes' THEN 1 END) AS attended_accidents,
    (COUNT(CASE WHEN "Did_Police_Officer_Attend_Scene_of_Accident" = 'Yes' THEN 1 END) / COUNT(*))::numeric(5, 2) AS attended_proportion
FROM
    accident_risk
GROUP BY
    "state"
ORDER BY
    attended_proportion DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/book_management_system
1 rows affected.

[('Alba / Scotland', 59667, 50587, Decimal('0.00'))]

calculate speed limit with causalities based on different types of road ?

In [24]:
%%sql

SELECT
    "1st_Road_Class",
    AVG("Speed_limit") AS average_speed_limit,
    COUNT(*) AS total_casualties
FROM
    accident_risk
WHERE
    "Number_of_Casualties" > 0
GROUP BY
    "1st_Road_Class"
ORDER BY
    "1st_Road_Class";

 * postgresql://postgres:***@localhost:5432/book_management_system
5 rows affected.

[(1, Decimal('42.4737274970300649'), 10943),
 (3, Decimal('40.2560423139868599'), 168644),
 (4, Decimal('37.7852880532000601'), 73233),
 (5, Decimal('39.8641244147749930'), 67709),
 (6, Decimal('31.6702904962961090'), 158212)]

Which weather has the highest number of casualties?

In [31]:
%%sql

SELECT
    "Weather_Conditions",
    SUM("Number_of_Casualties") AS total_casualties
FROM
    accident_risk
GROUP BY
    "Weather_Conditions"
ORDER BY
    total_casualties DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/book_management_system
1 rows affected.

[('Fine without high winds', Decimal('556603'))]

relationship between number of cars involved and casualties

In [32]:
%%sql

SELECT
    "Number_of_Vehicles",
    SUM("Number_of_Casualties") AS total_casualties
FROM
    accident_risk
GROUP BY
    "Number_of_Vehicles"
ORDER BY
    "Number_of_Vehicles";

 * postgresql://postgres:***@localhost:5432/book_management_system
4 rows affected.

[(1, Decimal('232702')),
 (2, Decimal('416617')),
 (3, Decimal('40353')),
 (4, Decimal('10979'))]

Calculate the popularity of weather condition?

In [33]:
%%sql

SELECT
    "Weather_Conditions",
    COUNT(*) AS weather_count,
    (COUNT(*) * 100.0 / SUM(COUNT(*)) OVER ()) AS popularity_percentage
FROM
    accident_risk
GROUP BY
    "Weather_Conditions"
ORDER BY
    weather_count DESC;

 * postgresql://postgres:***@localhost:5432/book_management_system
9 rows affected.

[('Fine without high winds', 379429, Decimal('79.2555891390125350')),
 ('Raining without high winds', 53708, Decimal('11.2185920988592997')),
 ('Raining with high winds', 20326, Decimal('4.2457195017765347')),
 ('Fine with high winds', 14714, Decimal('3.0734781437144510')),
 ('Snowing without high winds', 4608, Decimal('0.96252462187278716467')),
 ('Other', 4531, Decimal('0.94644076859930526109')),
 ('Fog or mist', 1058, Decimal('0.22099632160186823355')),
 ('Snowing with high winds', 249, Decimal('0.05201142162463628559')),
 ('Unknown', 118, Decimal('0.02464798293858265743'))]

find the correlation between the speed limit and number of causalities in accidents?

In [37]:
%%sql

SELECT
    CORR("Speed_limit", "Number_of_Casualties") AS correlation
FROM
    accident_risk;

 * postgresql://postgres:***@localhost:5432/book_management_system
1 rows affected.

[(0.03813206540625815,)]

is there a relationship between the police force and the number of vehicles involved in accidents?

In [48]:
%%sql

SELECT
    "Police_Force",
    AVG("Number_of_Vehicles") AS average_vehicles
FROM
    accident_risk
GROUP BY
    "Police_Force";

 * postgresql://postgres:***@localhost:5432/book_management_system
66 rows affected.

[(1, Decimal('1.8348675676806561')),
 (2, Decimal('2.0000000000000000')),
 (3, Decimal('1.9869565217391304')),
 (4, Decimal('1.9363699102829538')),
 (5, Decimal('1.9219812534460577')),
 (6, Decimal('1.9116857085588294')),
 (7, Decimal('1.9161473087818697')),
 (8, Decimal('1.9342105263157895')),
 (9, Decimal('1.6000000000000000')),
 (10, Decimal('1.4861878453038674')),
 (11, Decimal('1.5295007564296520')),
 (12, Decimal('1.52010376134889753567')),
 (13, Decimal('1.5341365461847390')),
 (14, Decimal('1.5693290031375571')),
 (15, Decimal('1.6044478724771822')),
 (16, Decimal('1.6742857142857143')),
 (17, Decimal('1.8809523809523810')),
 (18, Decimal('2.0000000000000000')),
 (19, Decimal('1.3333333333333333')),
 (20, Decimal('1.6104941699056080')),
 (21, Decimal('1.7429115955597165')),
 (22, Decimal('1.8491503588736887')),
 (23, Decimal('1.9216417910447761')),
 (24, Decimal('2.0000000000000000')),
 (29, Decimal('2.0000000000000000')),
 (30, Decimal('1.4561403508771930')),
 (31, Decimal('1.5250544662309368')),
 (32, Decimal('1.5830863465718238')),
 (33, Decimal('1.6183810533757511')),
 (34, Decimal('1.6685437109723461')),
 (35, Decimal('1.71036403421523771633')),
 (36, Decimal('1.7360160965794769')),
 (37, Decimal('1.7777777777777778')),
 (38, Decimal('1.8181818181818182')),
 (39, Decimal('2.0000000000000000')),
 (40, Decimal('1.8333333333333333')),
 (41, Decimal('1.7705583756345178')),
 (42, Decimal('1.7224112785610112')),
 (43, Decimal('1.7135329229621339')),
 (44, Decimal('1.7157597936288920')),
 (45, Decimal('1.8068181818181818')),
 (46, Decimal('1.7793832095945174')),
 (47, Decimal('1.7068005808325266')),
 (48, Decimal('1.6625766871165644')),
 (49, Decimal('1.8923556942277691')),
 (50, Decimal('1.8899322996287399')),
 (51, Decimal('1.8406113537117904')),
 (52, Decimal('1.8116997075073123')),
 (53, Decimal('1.7792149866190901')),
 (54, Decimal('1.6982758620689655')),
 (55, Decimal('1.8333333333333333')),
 (56, Decimal('1.3333333333333333')),
 (59, Decimal('1.7777777777777778')),
 (60, Decimal('1.7368421052631579')),
 (61, Decimal('1.7401341243229301')),
 (62, Decimal('1.7492447129909366')),
 (63, Decimal('1.7573964497041420')),
 (64, Decimal('1.8400000000000000')),
 (91, Decimal('1.5625000000000000')),
 (92, Decimal('1.6556603773584906')),
 (93, Decimal('1.6082607292675056')),
 (94, Decimal('1.6331951971097652')),
 (95, Decimal('1.65128162171217959457')),
 (96, Decimal('1.7196320964161116')),
 (97, Decimal('1.7301480484522207')),
 (98, Decimal('1.7309941520467836'))]

How many accidents involve 2 or multiple vehicles?

In [50]:
%%sql

SELECT
    COUNT(*) AS total_accidents
FROM
    accident_risk
WHERE
    "Number_of_Vehicles" >= 2;

 * postgresql://postgres:***@localhost:5432/book_management_system
1 rows affected.

[(315680,)]

Are there any specific police forces that tend to handle accidents with a higher number of vehicles?

In [53]:
%%sql

SELECT
    "Police_Force",
    AVG("Number_of_Vehicles") AS average_vehicles
FROM
    accident_risk
GROUP BY
    "Police_Force"
ORDER BY
    average_vehicles DESC;

 * postgresql://postgres:***@localhost:5432/book_management_system
66 rows affected.

[(29, Decimal('2.0000000000000000')),
 (2, Decimal('2.0000000000000000')),
 (18, Decimal('2.0000000000000000')),
 (39, Decimal('2.0000000000000000')),
 (24, Decimal('2.0000000000000000')),
 (3, Decimal('1.9869565217391304')),
 (4, Decimal('1.9363699102829538')),
 (8, Decimal('1.9342105263157895')),
 (5, Decimal('1.9219812534460577')),
 (23, Decimal('1.9216417910447761')),
 (7, Decimal('1.9161473087818697')),
 (6, Decimal('1.9116857085588294')),
 (49, Decimal('1.8923556942277691')),
 (50, Decimal('1.8899322996287399')),
 (17, Decimal('1.8809523809523810')),
 (22, Decimal('1.8491503588736887')),
 (51, Decimal('1.8406113537117904')),
 (64, Decimal('1.8400000000000000')),
 (1, Decimal('1.8348675676806561')),
 (40, Decimal('1.8333333333333333')),
 (55, Decimal('1.8333333333333333')),
 (38, Decimal('1.8181818181818182')),
 (52, Decimal('1.8116997075073123')),
 (45, Decimal('1.8068181818181818')),
 (46, Decimal('1.7793832095945174')),
 (53, Decimal('1.7792149866190901')),
 (37, Decimal('1.7777777777777778')),
 (59, Decimal('1.7777777777777778')),
 (41, Decimal('1.7705583756345178')),
 (63, Decimal('1.7573964497041420')),
 (62, Decimal('1.7492447129909366')),
 (21, Decimal('1.7429115955597165')),
 (61, Decimal('1.7401341243229301')),
 (60, Decimal('1.7368421052631579')),
 (36, Decimal('1.7360160965794769')),
 (98, Decimal('1.7309941520467836')),
 (97, Decimal('1.7301480484522207')),
 (42, Decimal('1.7224112785610112')),
 (96, Decimal('1.7196320964161116')),
 (44, Decimal('1.7157597936288920')),
 (43, Decimal('1.7135329229621339')),
 (35, Decimal('1.71036403421523771633')),
 (47, Decimal('1.7068005808325266')),
 (54, Decimal('1.6982758620689655')),
 (16, Decimal('1.6742857142857143')),
 (34, Decimal('1.6685437109723461')),
 (48, Decimal('1.6625766871165644')),
 (92, Decimal('1.6556603773584906')),
 (95, Decimal('1.65128162171217959457')),
 (94, Decimal('1.6331951971097652')),
 (33, Decimal('1.6183810533757511')),
 (20, Decimal('1.6104941699056080')),
 (93, Decimal('1.6082607292675056')),
 (15, Decimal('1.6044478724771822')),
 (9, Decimal('1.6000000000000000')),
 (32, Decimal('1.5830863465718238')),
 (14, Decimal('1.5693290031375571')),
 (91, Decimal('1.5625000000000000')),
 (13, Decimal('1.5341365461847390')),
 (11, Decimal('1.5295007564296520')),
 (31, Decimal('1.5250544662309368')),
 (12, Decimal('1.52010376134889753567')),
 (10, Decimal('1.4861878453038674')),
 (30, Decimal('1.4561403508771930')),
 (56, Decimal('1.3333333333333333')),
 (19, Decimal('1.3333333333333333'))]

What is the distribution of accidents across different days of the week?

In [54]:
%%sql

SELECT
    "Day_of_Week",
    COUNT(*) AS accident_count
FROM
    accident_risk
GROUP BY
    "Day_of_Week"
ORDER BY
    "Day_of_Week";

 * postgresql://postgres:***@localhost:5432/book_management_system
7 rows affected.

[(1, 33251),
 (2, 57859),
 (3, 96595),
 (4, 46098),
 (5, 72808),
 (6, 101004),
 (7, 71126)]